{% extends 'layout.html' %} {% block content %}

<div class="boxfrom">
  <form action="{{url_for('home')}}" , method="POST" class="form">
    <input type="text" class="topic" name="topic" autocomplete="off">
    <input type="date" class="date" name="date">
    <br>
    <input type="submit" class="btn" value="Submit" />
  </form>
  <table>
    <tr>
      <th>Topic</th>
      <th>Due Date</th>
    </tr>
    <tr>
      {% for task in tasks%}
    <tr>
      <td>{{task['topic']}}</td>
      <td>{{task['due_date']}}</td>
      <td id="button_table">
        <form action="{{url_for('update')}}" , method="POST" class="form">
          <button class="btn2">Update</button>
        </form>
        <form method="POST" action="{{ url_for('delete', id=task['_id']) }}">
          <button class="btn2" onclick="confirm('Are you sure you want to delete this task?')">Delete</button>

        </form>
      </td>
    </tr>
    {%endfor%}
  </table>

</div>

{% endblock %}